html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.top-container{
    background: url("/images/banner2.jpg") no-repeat;
    background-size: contain;
    height: 45rem;
    /* display: flex; */
}
.nav-bar {
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    align-items:center;
}

ul li{
    list-style: none;
    margin-right: 20px;
}
.entro{
    margin-left: 5rem;
    margin-top: 2rem;
}


