html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.top-container{
    background: url("/images/banner2.jpg") no-repeat;
    background-size: contain;
    height: 45rem;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
}
.entro{
    margin-left: 5rem;
    margin-top: 2rem;
    height: auto;
}
ul{
    margin-top: 2rem;
    margin-right: 5rem;
    display: flex;
    align-items:center;
}

ul li{
    height: 2rem;
    width: 5rem;
    list-style: none;
    margin-right: 20px;
    /* justify-content: center;
    align-items: center; */
    color: #fff;
    text-decoration: none;
}
.slideshow{
    margin-top: 14rem;
}

